# ignore the tmp folder
/tmp/*

# ignore tmp folders in src folder
/src/**/tmp

# ignore results and input folder
/results/*
/input/*

# ignore pycharms ideas
.idea/*

# ignore all pycaches
src/__pycache__/*
src/helper/__pycache__/*